<%- include('../parts/head',{title:'CASH - Criando Categoria'}); %>
<main>

  <form method="POST" action="/categorias/store">
    <span class="title"> Nova Categoria </span>

    <div class="container-field">
      <input type="text" name="nome" id="nome" placeholder="Digite o nome da categoria">
    </div>

      <div class="container-field">
        <select name="tipo" id="tipo">
          <option selected disabled>Selecione</option>
          <option value="1">Fixa</option>
          <option value="2">Variável</option>
        </select>
      </div>
    <!-- </label> -->
    <button class="btn green" type="submit">Salvar</button>
  </form>


  
    <!-- 
    <% if (typeof(erros) != "undefined") { %>
        <p style="color: red"> ERRO </p>
        <ul>
          <% erros.forEach((erro) => { %>
              <li><%= erro.msg %></li>
          <% }) %>
        </ul>
    <% } %>
     

    <label>
      Nome:
      <input type="text" name="nome" id="nome" placeholder="Digite o nome da categoria">
    </label>

    <label>
      Tipo:
      -->

  
</main>
<%- include('../parts/foot'); %>