<%- include('../parts/head',{title:'Login - Cash Control'}); %>
<main>
  <div class="container-login">
    <form method="POST" action="/users/store">
      <h1 class="title">Cadastro</h1>

      <div class="container-field">
        <input type="text" id="nome" name="nome" placeholder="Digite o seu nome">
      </div>

      <div class="container-field">
        <input type="email" id="email" name="email" placeholder="Digite o seu E-mail">
      </div>

      <div class="container-field">
        <input type="password" id="password" name="password" placeholder="Digite sua senha">
      </div>

      <button class="btn green" type="submit">Cadastrar</button>

      <div class="last-link">
        <p> Já tenho Cadastro, 
          <a href="/login" title="cadastror">Clique Aqui!</a>
        </p>
      </div>
    </form>
  </div>
</main>
<%- include('../parts/foot'); %>