<%- include('./parts/head',{title:'CASH Control'}); %>
<main>
    <div>
        <h1 style="text-align: center;">PRINCIPAL</h1>
    </div>
</main>
<div class="subpopup"></div>
<div id="popup">
    <div class="popup-body">
        
    </div>
</div>
<%- include('./parts/foot'); %>