<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cash Control - Seu sistema de controle financeiro ideal</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" href="/css/default.css"> -->
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header id="lp-header">
		<div class="container">
			<nav>
				<ul class="container-login"> <!--container-navigation-->
					<li><a class="btn gray popup" href="#login">Entrar</a></li>
					<!-- <li><a class="btn orange popup" href="#cadastro">Cadastre-se</a></li> -->
				</ul>
			</nav>			
		</div>		
	</header>
	
	<main>

		<div class="container-main">
			<img src="img/economic.png" alt="">  
		</div>  

		<div class="container-text">

			<img class="logo-main" src="img/compartilhar.svg" alt=""> <h2>Cash</h2>
			
			<h4> Suas despesas, de forma mais prática em um só lugar!!!

				Apresentamos a você o sistema Cash, aqui você pode cadastrar, controlar	 suas despesas,
				 estabelecer metas, analisar gráficos para tomadas de decisão, de forma muito mais simples.				
			</h4>
			<br>
		<div class="button-cadastro">
			<a class="btn gray popup" href="#cadastro">Cadastre-se</a>
		</div>		
	</div>
	
</main>

<div class="text-simple"><H3>Aqui você pode controlar:</H3></div><br>

<div class="container-info">
	
	<div class="cards">
		<img class="img-small" src="img/icons/analise.svg" alt="">
		<h5>Metas</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/calendario.svg" alt="">
		<h5>Calendário</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/calculadora.svg" alt="">
		<h5>Controle Financeiro</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/finance.svg" alt="">
		<h5>Dashboard</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/carteira.svg" alt="">
		<h5>Carteiras</h5>
		<br>
	</div>
	
</div><br>

<div class="text-simple"><H3>Conheça melhor nossos contribuidores:</H3></div><br>

<div class="container-contact">

	<div class="cards">
		<img class="img-small" src="img/icons/email.svg" alt="">
		<h5>Contato</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/team.svg" alt="">
		<h5>Contribuidores</h5>
		<br>
	</div>
	<div class="container-team">
		<img src="img/rede.svg" alt="">  
	</div> 
</div>

<div class="cash-button">
	<div><span>Cash Control&copy</span></div>	
</div>

<!-- fazer footer especifico landing page -->
<%- include('./parts/foot'); %>