<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cash Control - Seu sistema de controle financeiro ideal</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/landing-page.css" />
    <script src="/js/mini-jquery.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="container navigation">
        <div class="container-hamburger">
          <span id="hamburger"></span>
        </div>
        <div class="container-logo">
          <img src="/images/logo.png" alt="Logo Cash Control" />
        </div>
        <div class="container-navigation">
          <ul>
            <li><a class="scroll" href="#about">Quem somos</a></li>
            <li><a class="scroll" href="#functionality">Funcionalidades</a></li>
            <li><a class="scroll" href="#team">Time</a></li>
            <li><a class="scroll" href="#thanks">Santander Coders</a></li>
            <li><a class="popup" href="#login">Entrar</a></li>
            <li><a class="popup" href="#cadastro">Cadastre-se</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section class="hero">
        <div class="sub-container container-hero">
          <div class="content">
            <h3>O seu sistema financeiro.</h3>
            <h1>Prático, Simples e Responsivo</h1>
            <a class="scroll" href="#functionality">
              Saiba mais
            </a>
          </div>
          <div class="image">
            <img src="/images/image-hero.svg" alt="Imagem de gráficos" />
          </div>
        </div>
      </section>
      <section id="about" class="about">
        <div class="container container-about">
          <div class="image">
            <img src="/images/image-about.svg" alt="Imagem de gráficos" />
          </div>
          <div class="content">
            <h3>Cash Control</h3>
            <h2 class="title">
              O ponto de partida para você organizar o seu dinheiro.
            </h2>
            <p>
              Controle seu dinheiro com nossa aplicação Web fácil de usar e
              acompanhe suas finanças pessoais sem complicação.
            </p>
            <p>
              Evite informações em anotações e planilhas. você tem todos os
              dados financeiros na palma da sua mão.
            </p>
            <p>
              Planeje suas finanças pessoais através de metas, analisando seus
              gastos no mês.
            </p>
          </div>
        </div>
      </section>
      <section id="functionality" class="functionality">
        <!-- ADICIONAR DETALHE PELO BACKGROUD -->
        <div class="container">
          <h2 class="title">Funcionalidades</h2>
          <div class="sub-container container-items">
            <div class="item">
              <img src="/images/carteiras.svg" alt="Imagem de Carteira" />
              <h4>Carteiras</h4>
              <p>
                Você consegue criar, editar e excluir
                <strong>carteiras</strong> da maneira que desejar.
              </p>
            </div>
            <div class="item">
              <img src="/images/categoria.svg" alt="Imagem de Categoria" />
              <h4>Categorias</h4>
              <p>
                Você consegue criar, editar e excluir
                <strong>categorias</strong> da maneira que desejar.
              </p>
            </div>
            <div class="item">
              <img src="/images/add.svg" alt="Imagem de Receita" />
              <h4>Receitas</h4>
              <p>
                Você consegue criar, editar e excluir
                <strong>receitas</strong> da maneira que desejar.
              </p>
            </div>
            <div class="item">
              <img src="/images/minus.svg" alt="Imagem de Carteira" />
              <h4>Despesas</h4>
              <p>
                Você consegue criar, editar e excluir
                <strong>despesas</strong> da maneira que desejar.
              </p>
            </div>
          </div>
          <div class="sub-container container-items">
            <div class="item">
              <img src="/images/cartoes.svg" alt="Imagem de Carteira" />
              <h4>Cartões</h4>
              <p>
                Você consegue criar, editar e excluir
                <strong>cartões</strong> da maneira que desejar.
              </p>
            </div>
            <div class="item">
              <img src="/images/datas.svg" alt="Imagem de Categoria" />
              <h4>Datas</h4>
              <p>
                Você consegue <br />filtrar <strong>datas</strong> das
                transações.
              </p>
            </div>
            <div class="item">
              <img src="/images/extrato.svg" alt="Imagem de Receita" />
              <h4>Extrato</h4>
              <p>
                Você tem<br />
                <strong>relatórios</strong> prontos na plataforma.
              </p>
            </div>
            <div class="item">
              <img src="/images/money.svg" alt="Imagem de Carteira" />
              <h4>Metas</h4>
              <p>
                Você consegue criar, editar e excluir
                <strong>metas</strong> da maneira que desejar.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="team" class="creators">
        <div class="container">
          <h2 class="title">Time</h2>
          <div class="container-items">
            <div class="item">
              <div class="img-perfil">Imagem de perfil micael garcez</div>
              <p class="name">Marcos Reis</p>
              <p class="title-card">Backend</p>
            </div>
            <div class="item">
              <div class="img-perfil">Imagem de perfil micael garcez</div>
              <p class="name">Micael Garcez</p>
              <p class="title-card">Frontend</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section id="thanks" class="thanks">
        <h2 class="title">Agradecimentos</h2>
        <div class="container container-thanks">
          <img src="/images/santander.png" alt="Satander Coders" />
          <img src="/images/DH.png" alt="Digital House" />
          <p>
            Santander Coders é um programa educacional promovido pelo Santander
            em parceria com a Digital House no qual houve um processo seletivo
            onde os inscritos concorreram a 240 bolsas integrais de estudo para
            o curso de Desenvolvimento Web Node Full Stack.
          </p>
        </div>
      </section>
    </footer>
    <div class="sob-popup"></div>
    <div id="popup">
      <div class="popup-body"></div>
    </div>
    <script src="/js/landing-page.js"></script>
    <script src="/js/popup.js"></script>
  </body>
</html>
