<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cash Control - Seu sistema de controle financeiro ideal</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header id="lp-header">
		<div class="container">
			<nav>
				<ul class="container-login"> <!--container-navigation-->
					<li><a class="btn gray popup" href="#login">Entrar</a></li>
					<!-- <li><a class="btn orange popup" href="#cadastro">Cadastre-se</a></li> -->
				</ul>
			</nav>			
		</div>		
	</header>
	
	<main>

		<div class="container-main">
			<img src="img/main1.png" alt="">  
		</div>  

		<div class="container-text">

			<h1> Cash Control...</h1>

			<br>
			<h2> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maiores dolore in, quis, porro deleniti repellendus praesentium facere ex corrupti nemo dolorum. Laudantium temporibus quia enim. Laboriosam laudantium ratione exercitationem.</h2>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptate quos consequatur quasi quidem fuga molestiae culpa, atque beatae esse, suscipit exercitationem sit nostrum sapiente officia maiores deserunt! Dicta, blanditiis.
			
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, maxime maiores natus veritatis, quos illo animi quae repudiandae distinctio, facilis cumque doloribus. Quibusdam ipsa sit nulla velit nam sapiente enim!
			<br><br><br>
		<div class="button-cadastro">
			<a class="btn gray popup" href="#cadastro">Cadastre-se</a>

		</div>
	</div>
	
</main>

<div class="container-info">

	<div class="cards">
		<img class="img-small" src="img/icons/analise.svg" alt="">
		<h5>Metas</h5>
		<br>
		<p>Breve texto... 
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam non, perferendis alias obcaecati laborum nisi ipsum deleniti nam odio, dolore, reiciendis maiores excepturi adipisci cum architecto molestias. Incidunt, suscipit reiciendis.
		</p>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/calendario.svg" alt="">
		<h5>Calendário</h5>
		<br>
		<p>Breve texto...
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur culpa molestiae, iusto alias laudantium vel beatae officiis, doloremque voluptas autem harum minima laborum ullam repellat, veritatis fuga inventore odio molestias!
		</p>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/calculadora.svg" alt="">
		<h5>Controle Financeiro</h5>
		<br>
		<p>Breve texto...
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta magni dolorum qui sapiente repudiandae? Aliquam vitae id nam voluptatem expedita! Neque aut debitis non ut mollitia assumenda illum quasi voluptate!
		</p>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/finance.svg" alt="">
		<h5>Dashboard</h5>
		<br>
		<p>Breve texto...
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, provident tenetur quam rem hic deleniti, quisquam ipsam numquam fugit velit odit, nihil recusandae officiis esse libero non unde inventore nulla.
		</p>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/carteira.svg" alt="">
		<h5>Carteiras</h5>
		<br>
		<p>Breve texto...
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis itaque, ipsa vel repellendus vitae voluptas non tempore harum doloribus, velit reiciendis, aspernatur debitis ipsam necessitatibus ab quo beatae hic animi.
		</p>
	</div>
	
</div>

<div class="container-contact">

	<div class="cards">
		<img class="img-small" src="img/icons/email.svg" alt="">
		<h5>Contato</h5>
		<br>
		<p>Breve texto... 
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam non, perferendis alias obcaecati laborum nisi ipsum deleniti nam odio, dolore, reiciendis maiores excepturi adipisci cum architecto molestias. Incidunt, suscipit reiciendis.
		</p>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/team.svg" alt="">
		<h5>Contribuidores Cash</h5>
		<br>
		<p>Breve texto... 
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam non, perferendis alias obcaecati laborum nisi ipsum deleniti nam odio, dolore, reiciendis maiores excepturi adipisci cum architecto molestias. Incidunt, suscipit reiciendis.
		</p>
	</div>
</div>
	

		

	

<%- include('./parts/foot'); %>