<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cash Control - Seu sistema de controle financeiro ideal</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/default.css">
</head>
<body>
	<header id="lp-header">
		<div class="container">
			<nav>
				<div class="container-logo">
					<img src="/img/logo.svg" alt="Logo Cash Control">
				</div>
				<ul class="container-navigation">
					<li><a href="#sobre">Sobre</a></li>
					<li><a href="#funcionalidades">Funcionalidades</a></li>
					<li><a class="btn blue popup" href="#login">Entrar</a></li>
					<li><a class="btn orange popup" href="#cadastro">Cadastre-se</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<h1>Cash Control uma maneira simples de fazer seu controle financeiro.</h1>
	

	<div class="sob-popup"></div>
	<div id="popup">
		<div class="popup-body">
			
		</div>
	</div>
	<script src="/js/popup.js"></script>
</body>
</html>