<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cash Control - Seu sistema de controle financeiro ideal</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" href="/css/default.css"> -->
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header id="lp-header">
		<div class="container">
			<div class="container-login"> <!--container-navigation-->
				<a class="btn blue popup" href="#login">Entrar</a>
				<!-- <li><a class="btn orange popup" href="#cadastro">Cadastre-se</a></li> -->					
			</div>
			<nav class="menu">
				<ul>
					<li>
					  <a href="#quem-somos" title=""> Conheça melhor o Cash</a>
					</li>
					<li>
						<a href="#servicos" title="">Quem Somos</a>
					  </li>
					<li>
					  <a href="#Contato" title="">Contato</a>
					</li>					
				  </ul>
				</nav>
			<div>
				
			</div>			
		</div>		
	</header>
	
	<main>

		<div class="container-main">
			<img src="img/icons/main-carteira.svg" alt="">  
		</div>  

		<div class="container-text">

			<img class="logo-main" src="img/cashicon2.png" alt=""> <h2></h2></h2>
			<br>
			<h2> Cash seu Sistema para controle financeiro.</h2>
			<br>
		<div class="button-cadastro">
			<ul class="container-login">
			<li><a class="btn gray popup" href="#cadastro">Cadastre-se</a></li>
		</ul>
		</div>		
	</div>

		
</main>



<div class="container-info">
<div class="container-text">

	<h2> Quais vantagens do sistema Cash?</h2><br>
			
		<div class="text-li">
			<li> Organize suas despesas em um só lugar;</li><br>
			<li> Aqui você pode cadastrar, controlar suas despesas;</li><br>
			<li> Estabelecer metas;</li><br>
			<li> Dashboard para tomadas de decisão...</li>
		</div>

	<br>
	
</div>  
<div class="container-main">
	<img src="img/icons/main-dash.svg" alt=""> 
</div> 
</div>

<div class="text-simple"><h2>Aqui você pode controlar:</h2></div><br>

<div class="container-info">
	
	<div class="cards">
		<img class="img-small" src="img/icons/analise2.svg" alt="">
		<h5>Metas</h5>
		<br>
	</div>
	<!-- <div class="cards">
		<img class="img-small" src="img/icons/calendario2.svg" alt="">
		<h5>Calendário</h5>
		<br>
	</div> -->
	<div class="cards">
		<img class="img-small" src="img/icons/calculadora2.svg" alt="">
		<h5>Controle Financeiro</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/finance2.svg" alt="">
		<h5>Dashboard</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/carteira2.svg" alt="">
		<h5>Carteiras</h5>
		<br>
	</div>
	
</div><br>

<div class="text-simple"><h2>Conheça melhor nossos contribuidores:</h2></div><br>

<div class="container-contact">

	<!--<div class="cards">
		<img class="img-small" src="img/icons/email.svg" alt="">
		<h5>Contato</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/team.svg" alt="">
		<h5>Team</h5>
		<br>
	</div> -->
	<form>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<input type="text" class="form-control" id="name" placeholder="Name*">
				</div>
			</div><br>
			<div class="col-sm-6">
				<div class="form-group">
					<input type="email" class="form-control" id="mail" placeholder="Email*">
				</div>
			</div><br>
			<div class="col-sm-12">
				<div class="form-group">
					<textarea name="message" id="message" class="form-control-message" placeholder="Message*" rows="5"></textarea>
				</div>
			</div><br>
			<div class="col-sm-12">
				<a href="#" class="btn btn-secondary">SEND</a>
			</div>
		</div>
	</form>


	<div class="container-team">
		<img src="img/icons/details-1-office-worker.svg" alt="">  
	</div> 
</div>
<footer>
<div class="cash-button">
	
		<div class="li-button">
			<p>Quem Somos</p>
		</div>
		<div class="li-button">
			<p>|  Serviços</p>
		</div>
		<div class="li-button">
			<p>|  Team</h2>
		</div>
		<div class="li-button">
			<p>|  Contato</p>
		</div>
	
</div>
</footer>

<!-- fazer footer especifico landing page-->

<div class="sob-popup"></div>
<div id="popup">
    <div class="popup-body">
        
    </div>
</div>
<div class="notification-container">
    <p></p>
    <!-- <button class="positive btn green">Sim</button> -->
    <!-- <button class="negative btn red">Não</button> -->
</div>
<script src="/js/index.js"></script>
<script src="/js/popup.js"></script>
<script src="/js/notification.js"></script>
</body>
</html>