.app {
  display: flex;
}

header {
  height: 100vh;
  width: 100px;
  position: relative;
  transition: 0.3s;
  background-color: #48475c;
}
header.active {
  width: 210px;
}
header.active .container-navigation {
  width: 181px;
}

.container-hamburguer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 0;
  transition: 0.3s;
  position: fixed;
  z-index: 4;
  left: 75px;
  top: 80px;
}
.container-hamburguer.active {
  left: 165px;
  transform: rotate(180deg);
}

#hamburger {
  display: block;
  height: 40px;
  width: 40px;
  position: relative;
}
#hamburger .hamburguer {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
  height: 5px;
  width: 90%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
#hamburger .hamburguer:before, #hamburger .hamburguer:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  background-color: #fff;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
#hamburger .hamburguer:before {
  top: -7px;
}
#hamburger .hamburguer:after {
  top: 12px;
}
@media (min-width: 1280px) {
  #hamburger {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 #000;
  }
  #hamburger .hamburguer {
    display: none;
  }
  #hamburger .icon-menu {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.logo {
  display: flex;
  align-items: center;
  max-width: 70px;
  margin: 0 auto;
}
.logo svg {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  fill: #fff;
}
.logo span {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

.container-navigation {
  height: 100vh;
  width: 93px;
  position: fixed;
  z-index: 3;
  transition: 0.3s;
}
.container-navigation.active a .text-link {
  width: 100%;
  margin-left: 10px;
  font-size: 13px;
  line-height: 1.2;
  height: 15px;
}
.container-navigation nav {
  height: 100%;
}
.container-navigation ul {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  background-color: #48475c;
  min-height: 100vh;
}
@media (min-width: 1280px) {
  .container-navigation ul {
    height: 100%;
    min-height: auto;
    padding: 0;
  }
  .container-navigation ul li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.container-navigation a {
  display: flex;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid;
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
}
@media (min-width: 1280px) {
  .container-navigation a {
    justify-content: center;
    border: none;
  }
}
.container-navigation a svg {
  width: 25px;
  height: 25px;
  fill: #fff;
  margin-right: 10px;
}
@media (min-width: 1280px) {
  .container-navigation a svg {
    margin-right: 0;
  }
}
.container-navigation a .text-link {
  font-size: 16px;
  line-height: 1;
}
@media (min-width: 1280px) {
  .container-navigation a .text-link {
    display: block;
    width: 0;
    overflow: hidden;
    transition: 0.3s;
    font-size: 13px;
    line-height: 1.2;
    height: 0;
  }
}

.sob-menu {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  transition: 0.3s;
}
.sob-menu.active {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.container-buttons {
  position: fixed;
  width: 0;
  height: 0;
  bottom: 50px;
  right: 50px;
  top: auto;
  left: auto;
  z-index: 2;
}
@media (min-width: 1280px) {
  .container-buttons {
    position: relative;
    bottom: auto;
    right: auto;
    z-index: 3;
    width: 40px;
    height: 40px;
  }
}
.container-buttons .btn-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-buttons .btn-circle span {
  pointer-events: none;
}
.container-buttons .btn-circle.add {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
.container-buttons .btn-circle.green {
  left: 0;
  top: auto;
  bottom: 50px;
}
@media (min-width: 1280px) {
  .container-buttons .btn-circle.green {
    left: 125px;
    top: 20px;
    bottom: auto;
  }
}
.container-buttons .btn-circle.red {
  top: auto;
  left: -50px;
  bottom: 30px;
}
@media (min-width: 1280px) {
  .container-buttons .btn-circle.red {
    left: 125px;
    top: 70px;
    bottom: auto;
  }
}
.container-buttons .btn-circle.blue {
  top: auto;
  left: -100px;
  bottom: 10px;
}
@media (min-width: 1280px) {
  .container-buttons .btn-circle.blue {
    left: 125px;
    top: 120px;
    bottom: auto;
  }
}
.container-buttons.active .btn-circle {
  visibility: visible;
  opacity: 1;
}
.container-buttons.active .add span:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.container-buttons.active .add span:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
#list .item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 10px;
}
#list .item:nth-child(odd) {
  background-color: #fff;
}
#list .item:nth-child(even) {
  background-color: #eee;
}
#list .item.head {
  background: #FFA666;
  color: #fff;
}
#list .item.head svg {
  fill: #fff;
}
#list .item > div {
  flex: 1;
  display: flex;
  align-items: center;
}
#list .item .cor span {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}
#list .item .buttons {
  display: flex;
}
#list .item .buttons a {
  padding: 5px 0;
  text-align: right;
  display: flex;
}
#list .item .material-icons-outlined {
  pointer-events: none;
}
#list .item form {
  display: none;
}

main {
  background-color: #393944;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}
main > div {
  display: flex;
  justify-content: space-evenly;
}

.notification-container {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  text-align: center;
  min-height: 100px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #d00;
  transition: 0.3s;
  right: -500px;
  top: 100px;
}
.notification-container.active {
  right: 20px;
}
.notification-container p {
  margin-bottom: 10px;
}
.notification-container .positive {
  margin-right: 10px;
}

#saldos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#saldos .item-saldo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 275px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  align-items: stretch;
}
#saldos .dados {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}
#saldos .dados .value {
  font-weight: 600;
}
#saldos .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  margin-top: 5px;
}

.container-mes {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.container-mes .prev, .container-mes .next {
  display: flex;
  cursor: pointer;
}
.container-mes .prev span, .container-mes .next span {
  font-size: 40px;
}
.container-mes .mes {
  font-size: 20px;
}