html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-blue {
  background-color: #3924B3;
}

.bg-green {
  background-color: #32B32D;
}

.bg-red {
  background-color: #f44336;
}

.bg-purple {
  background-color: #674CFF;
}

.hidden {
  display: none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

a {
  font-size: 16px;
  color: #48475c;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.container-button {
  text-align: center;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.btn-circle {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s;
}
.btn-circle.add {
  background-color: #3924B3;
}
.btn-circle.add span {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
}
.btn-circle.add span:before, .btn-circle.add span:after {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.3s;
}
.btn-circle.add span:before {
  transform: translate(-50%, -50%);
}
.btn-circle.add span:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.btn.green,
.btn-circle.green {
  background-color: #32B32D;
  color: #fff;
  border: none;
}
.btn.green svg,
.btn-circle.green svg {
  fill: #fff;
}
.btn.green:hover, .btn.green:active, .btn.green:focus,
.btn-circle.green:hover,
.btn-circle.green:active,
.btn-circle.green:focus {
  opacity: 0.97;
}
.btn.gray,
.btn-circle.gray {
  background-color: #FFA666;
  color: #fff;
  border: none;
}
.btn.gray svg,
.btn-circle.gray svg {
  fill: #fff;
}
.btn.gray:hover, .btn.gray:active, .btn.gray:focus,
.btn-circle.gray:hover,
.btn-circle.gray:active,
.btn-circle.gray:focus {
  opacity: 0.97;
}
.btn.red,
.btn-circle.red {
  background-color: #f44336;
  border: 1px solid #f44336;
  color: #fff;
}
.btn.red svg,
.btn-circle.red svg {
  fill: #fff;
}
.btn.red:hover, .btn.red:active, .btn.red:focus,
.btn-circle.red:hover,
.btn-circle.red:active,
.btn-circle.red:focus {
  background-color: #f44336;
  color: #fff;
}
.btn.red:hover svg, .btn.red:active svg, .btn.red:focus svg,
.btn-circle.red:hover svg,
.btn-circle.red:active svg,
.btn-circle.red:focus svg {
  fill: #fff;
}
.btn.blue,
.btn-circle.blue {
  background-color: #3924B3;
  border: 1px solid #3924B3;
  color: #fff;
}
.btn.blue svg,
.btn-circle.blue svg {
  fill: #fff;
}
.btn.blue:hover, .btn.blue:active, .btn.blue:focus,
.btn-circle.blue:hover,
.btn-circle.blue:active,
.btn-circle.blue:focus {
  background-color: #3924B3;
  color: #fff;
}
.btn.blue:hover svg, .btn.blue:active svg, .btn.blue:focus svg,
.btn-circle.blue:hover svg,
.btn-circle.blue:active svg,
.btn-circle.blue:focus svg {
  fill: #fff;
}
.btn.facebook,
.btn-circle.facebook {
  margin-bottom: 20px;
  background-color: #1877f2;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.btn.facebook:hover, .btn.facebook:active, .btn.facebook:focus,
.btn-circle.facebook:hover,
.btn-circle.facebook:active,
.btn-circle.facebook:focus {
  transform: scale(0.9);
}
.btn.google,
.btn-circle.google {
  margin-bottom: 20px;
  background-color: #db4437;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.btn.google:hover, .btn.google:active, .btn.google:focus,
.btn-circle.google:hover,
.btn-circle.google:active,
.btn-circle.google:focus {
  transform: scale(0.9);
}

.arrow-up {
  display: flex;
  justify-content: center;
}

.arrow-down {
  display: flex;
  justify-content: center;
}

#popup form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#popup form .title {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#popup form .btn.green {
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 600;
}
#popup form .btn.gray {
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 600;
}
#popup form .container-more-options {
  display: flex;
}
#popup form .container-more-options button {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  margin: 0 5px 5px;
  outline: none;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 0 0 1px 1px;
}
#popup form .container-more-options button.selected {
  color: #0f0;
}
#popup form .container-more-options button.selected:not(.material-icons):before {
  content: "";
  background-image: url("../../public/img/icons/checked.svg");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}
#popup form .container-more-options .mais-opcoes {
  display: inline-flex;
  height: 30px;
  border: none;
  margin: 0 5px 5px;
  outline: none;
  position: relative;
  cursor: pointer;
  width: auto;
  border-radius: 20px;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 0 12px;
  font-size: 12px;
}
#popup form .container-more-options .container-opcoes {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
#popup form .container-more-options .todas-opcoes {
  position: absolute;
  background-color: #48475c;
  padding: 10px;
  border: none;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
#popup form .container-more-options.active .container-opcoes,
#popup form .container-more-options.active .todas-opcoes {
  visibility: visible;
  opacity: 1;
}

.container-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.container-field input,
.container-field select {
  display: block;
  width: 100%;
  border: 1px solid #48475c;
  font-size: 16px;
  padding: 5px 15px;
  height: 38px;
  border-radius: 50px;
  box-sizing: border-box;
}

.last-link {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
.last-link a {
  text-decoration: underline;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}

.sob-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  transition: 0.3s;
}
.sob-popup.active {
  visibility: visible;
  opacity: 1;
}

#popup {
  display: flex;
  justify-content: center;
  padding: 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 375px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #48475c;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}
#popup.active {
  visibility: visible;
  opacity: 1;
}
#popup .popup-body {
  max-width: 300px;
  width: 100%;
}

@media (min-width: 1280px) {
  .md-hide {
    display: none !important;
  }
}
@media (max-width: 1280px) {
  .xs-hide {
    display: none !important;
  }
}