html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font-size: 16px;
  color: #48475c;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.container-button {
  text-align: center;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  color: #48475c;
}

.btn-circle {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.btn-circle.add {
  background-color: #3924B3;
}

.btn-circle.add span {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
}

.btn-circle.add span:before,
.btn-circle.add span:after {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.3s;
}

.btn-circle.add span:before {
  transform: translate(-50%, -50%);
}

.btn-circle.add span:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.btn.green,
.btn-circle.green {
  background-color: #32B32D;
  color: #fff;
  border: none;
}

.btn.green svg,
.btn-circle.green svg {
  fill: #fff;
}

.btn.green:hover,
.btn.green:active,
.btn.green:focus,
.btn-circle.green:hover,
.btn-circle.green:active,
.btn-circle.green:focus {
  opacity: 0.97;
}

.btn.gray,
.btn-circle.gray {
  /* background-color: #343a40; */
  background-color: #ff7657;
  color: #fff;
  border: none;
}

.btn.gray svg,
.btn-circle.gray svg {
  fill: #fff;
}

.btn.gray:hover,
.btn.gray:active,
.btn.gray:focus,
.btn-circle.gray:hover,
.btn-circle.gray:active,
.btn-circle.gray:focus {
  opacity: 0.97;
}

.btn.red,
.btn-circle.red {
  background-color: #fff;
  border: 1px solid #B33924;
}

.btn.red svg,
.btn-circle.red svg {
  fill: #B33924;
}

.btn.red:hover,
.btn.red:active,
.btn.red:focus,
.btn-circle.red:hover,
.btn-circle.red:active,
.btn-circle.red:focus {
  background-color: #B33924;
  color: #fff;
}

.btn.red:hover svg,
.btn.red:active svg,
.btn.red:focus svg,
.btn-circle.red:hover svg,
.btn-circle.red:active svg,
.btn-circle.red:focus svg {
  fill: #fff;
}

.btn.blue,
.btn-circle.blue {
  background-color: #fff;
  /* border: 1px solid #3924B3; */
  border: 1px solid #ff7657;
}

.btn.blue svg,
.btn-circle.blue svg {
  fill: #3924B3;
}

.btn.blue:hover,
.btn.blue:active,
.btn.blue:focus,
.btn-circle.blue:hover,
.btn-circle.blue:active,
.btn-circle.blue:focus {
  /* background-color: #3924B3; */
  background-color: #ff7657; /*#3924B3;*/
  color: #fff;
}

.btn.blue:hover svg,
.btn.blue:active svg,
.btn.blue:focus svg,
.btn-circle.blue:hover svg,
.btn-circle.blue:active svg,
.btn-circle.blue:focus svg {
  fill: #fff;
}

.btn.facebook,
.btn-circle.facebook {
  margin-bottom: 20px;
  background-color: #1877f2;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.btn.facebook:hover,
.btn.facebook:active,
.btn.facebook:focus,
.btn-circle.facebook:hover,
.btn-circle.facebook:active,
.btn-circle.facebook:focus {
  transform: scale(0.9);
}

.btn.google,
.btn-circle.google {
  margin-bottom: 20px;
  background-color: #DB4437;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.btn.google:hover,
.btn.google:active,
.btn.google:focus,
.btn-circle.google:hover,
.btn-circle.google:active,
.btn-circle.google:focus {
  transform: scale(0.9);
}

.arrow-up {
  display: flex;
  justify-content: center;
  transform: rotate(90deg);
}

.arrow-down {
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
}

form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

form .title {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

form .container-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

form .container-field input,
form .container-field select {
  display: block;
  width: 100%;
  border: 1px solid #48475c;
  font-size: 16px;
  padding: 5px 15px;
  height: 38px;
  border-radius: 50px;
  box-sizing: border-box;
}

form .btn.green {
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 600;
}

form .btn.gray {
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 600;
}

.last-link {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.last-link a {
  text-decoration: underline;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}

.sob-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  transition: 0.3s;
}

.sob-popup.active {
  visibility: visible;
  opacity: 1;
}

#popup {
  display: flex;
  justify-content: center;
  padding: 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 375px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #48475c;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}

#popup.active {
  visibility: visible;
  opacity: 1;
}

#popup .popup-body {
  max-width: 300px;
  width: 100%;
}


/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */

body{
     /* background-color: #343a40;  */
     color: #5F7D95;  
}

main{
    display: flex;
    margin: 100px;
    margin-top: 50px;
}

.container-main img{
    width: 500px;
    /* display: flex; */
    align-items: center;
    justify-content: left;
    margin-left: 100px;
    margin-right: 50px;    
}

.container-team img{
    width: 400px;
    /* display: flex; */
    align-items: center;
    justify-content: left;
    margin-left: 50px;
    margin-right: 50px;    
}
.container{
    /* justify-content: right; */
    display: flex;
    
}


.button-cadastro{
    color: white;
    margin-top: 10px;    
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-login{
    margin: 30px;
    align-items: left;


    
}

.menu{
  display: flex;
  padding:30px;
  list-style:none;

}
.menu ul li {
   display: inline; 
  }

.menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #333;
    text-decoration: none;
    
}

.container-text{
    /* margin-left: 30px; */
    /* margin-right: 100px; */
    /* margin-left: 50px; */
    text-align: center;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    line-height: 20px;
    color: #5F7D95;
    width: 500px;
    
}
h1{
    /* text-shadow: rgb(201, 195, 195) 0.1em 0.1em 0.2em; */
    color: #5F7D95;
    font-size: 20px;
    font-weight: bold;
}

h2{
  font-weight: bold;
  font-size: 20px;
}

.icon-team{
    width: 300px;
}
.text-simple{
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
    padding-bottom: 30px;

}

.container-info{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;    
    align-items: center;
    justify-content: center;
    margin-bottom: 50px; 
     
    
}

.form-group{
  width: 400px;

}



.form-control{
  width: 400px;
  border-radius: 10px;
  height: 40px;
  padding: 5px;
  border-color: #ff7657;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-control-message{
  width: 400px;
  border-radius: 10px;
  height: 80px;
  padding: 5px;
  border-color: #ff7657;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-contact{    
    /* flex-direction: row; */
    margin-left: 400px;
    margin-right: 400px;
    mat    
    /* align-items: center; */
    /* justify-content: space-between;   */
    margin-bottom: 30px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/*fonte padr찾o cinza nav e bot천es LP #92A1AC */


.img-small{
    width: 200px;
    align-items: center;
    justify-content: center;  
    margin: 10px;
    /* padding: 10px ; */
    
}
.img-small-coders{
  width: 100px;
  align-items: center;
  justify-content: center;  
  margin: 10px;
  /* padding: 10px ; */
  
}

.img-small-team{
  width: 100px;
  align-items: center;
  justify-content: center;  
  margin: 10px;
  border-radius: 50px;
  /* padding: 10px ; */
  
}


.cards{
    text-align: center;
    padding-left: 40px;  
    padding-right: 40px;
    /* width: 700px; */
}


h5 {
    text-align: center;
    
    /* color: #343a40;     */
}


.cash-button{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #ff7657;
    color: rgba(255, 255, 255, 0.8);
    height: 150px;
    padding: 20px;
    align-items: center;
}
.li-button{
  margin: 10px;
  align-items: center;
}

.logo-main{
    width: 80px; 
     
}

.text-li{
  text-align: left;
  padding-left: 60px;
  padding-top: 10px;
}

.menu-button{
  color: #fff;
}







/* #343a40  ou #6c757d  dark #48475c   fonte #5F7D95*/
/*fonte padr찾o cinza nav e bot천es LP #92A1AC */

/* Config default */

