/*
  ORDER AND NAME ITENS THIS SCSS

  #1 - RESET CSS
  #2 - VARIABLES
  #3 - GENERIC
  #4 - CONTAINERS
  #5 - HEADER
  #6 - HERO
*/

/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END RESET CSS */

/* VARIABLES */

$white: #fff;

/* END VARIABLES */

/* GENERIC */

body,
button {
  font-family: "Montserrat", sans-serif;
  color: #131313;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
strong {
  font-weight: bold;
}

.title {
  color: #28123e;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    font-size: 28px;
  }
}

/* END GENERIC */

/* CONTAINERS */

.container {
  width: calc(100% - 100px);
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: calc(100% - 20px);
  }
}

.sub-container {
  width: calc(100% - 200px);
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: calc(100% - 30px);
  }
}

/* END CONTAINERS */

/* HEADER */

body.active {
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  height: 100px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-hamburger {
  @media (min-width: 767px) {
    display: none;
  }

  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  &.active {
    z-index: 3;
    #hamburger {
      background: transparent;
      &:before,
      &:after {
        left: 80vw;
        top: 0;
        bottom: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  #hamburger {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 35px;
    background-color: $white;
    transition: 0.3s;
    &:before,
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 35px;
      background-color: $white;
      position: absolute;
      left: 0;
      transition: 0.3s;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
}

.container-logo {
  img {
    max-height: 80px;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.container-navigation {
  ul {
    display: flex;
    li {
      margin: 0 10px;
      a {
        color: $white;
      }
    }
  }

  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 50px 15px 15px 15px;
    background-color: #28123e;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 2;
    &.active {
      left: 0;
    }
    ul {
      flex-direction: column;
      li {
        margin: 10px 0;
      }
    }
  }
}

/* END HEADER */

/* HERO */

.hero {
  background-image: url(../images/background-hero.svg);
  background-position: center bottom;
  background-size: calc(100vw + 200px);
  padding-top: 100px;
  min-height: 100vh;
  box-sizing: border-box;
  margin-bottom: 100px;

  @media (max-width: 767px) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top -30px;
  }
}
.container-hero {
  display: flex;
  align-items: center;
  .content {
    width: 55%;
    h3 {
      text-transform: uppercase;
      color: $white;
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 15px;
    }
    h1 {
      text-transform: uppercase;
      color: $white;
      font-weight: 800;
      font-size: 60px;
      margin-bottom: 40px;
    }
    a {
      display: inline-block;
      background: #28123e;
      padding: 7px 14px;
      border-radius: 7px;
      font-size: 16px;
      font-weight: 700;
      color: $white;
    }
  }
  .image {
    width: 45%;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
    .content {
      width: 100%;
      margin-bottom: 30px;
      h3 {
        font-size: 18px;
      }
      h1 {
        font-size: 32px;
      }
    }
    .image {
      width: 100%;
    }
  }
}

/* END HERO */

/* ABOUT */

.about {
  margin-bottom: 100px;
  h3 {
    color: #ef5181;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
  }
  p {
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }
}

.container-about {
  display: flex;
  .image,
  .content {
    width: 50%;
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    .image,
    .content {
      width: 100%;
    }
  }
}

/* END ABOUT */

/* FUNCTIONALITY */

.functionality {
  margin-bottom: 100px;
  background-image: url(../images/detail-functionality.svg);
  background-position: left -50px top -50px;
  background-repeat: no-repeat;
  .title {
    text-align: center;
  }
  .container-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .item {
    flex: 1 1 17.5%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    @media (max-width: 767px) {
      margin: 5% 0;
    }
    &:nth-child(4n + 1) {
      margin-left: 0;
    }
    &:nth-child(4n + 4) {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: -29%;
      top: 50%;
      display: block;
      width: 1px;
      height: 100px;
      background-color: #707070;
      transform: translateY(-50%);

      @media (max-width: 767px) {
        display: none;
      }
    }
    img {
      width: 72px;
    }
    h4 {
      font-size: 24px;
      margin-bottom: 1em;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

/* END FUNCTIONALITY */

/* CREATORS */

.creators {
  margin-bottom: 100px;
  background-image: url(../images/bg-team.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  .title {
    text-align: center;
  }
  .container-items {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  .item {
    width: 100%;
    max-width: 250px;
  }
  .img-perfil {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: transparent;
  }
  .item:first-child {
    .img-perfil {
      background-image: url(../images/marcos.jpg);
    }
  }
  .item:last-child {
    margin-top: 50px;

    @media (max-width: 767px) {
      align-self: flex-end;
    }
    .img-perfil {
      background-image: url(../images/micael.jpg);
    }
  }
  .name {
    font-size: 24px;
    color: #ef5181;
    font-weight: 800;
    text-align: center;
    margin: 15px;
  }
  .title-card {
    text-align: center;
    color: #28123e;
  }
}

/* END CREATORS */

.thanks {
  background-image: url(../images/bg-thanks.svg);
  background-position: left -150px center;
  background-size: contain;
  background-repeat: no-repeat;
  .title {
    text-align: center;
  }
  .container-thanks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 800px;
  }
  img {
    width: 100%;
    max-width: 300px;
  }
  p {
    width: 100%;
    max-width: 700px;
    text-align: center;
    line-height: 1.5;
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

/* POPUP */

.btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.sob-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  transition: 0.3s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
#popup {
  display: flex;
  justify-content: center;
  padding: 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 375px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #28123e;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  z-index: 4;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .popup-body {
    max-width: 300px;
    width: 100%;
  }
}

#popup form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  .title {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .btn.green {
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 600;
  }
  .btn.gray {
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 600;
  }
  .container-more-options {
    display: flex;
    button {
      display: inline-flex;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 50%;
      margin: 0 5px 5px;
      outline: none;
      position: relative;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      padding: 0 0 1px 1px;
      &.selected {
        color: #0f0;
        &:not(.material-icons):before {
          content: "";
          background-image: url("../../public/img/icons/checked.svg");
          background-size: cover;
          position: absolute;
          left: 50%;
          top: 50%;
          display: block;
          width: 20px;
          height: 20px;
          transform: translate(-50%, -50%);
        }
      }
    }
    .mais-opcoes {
      display: inline-flex;
      height: 30px;
      border: none;
      margin: 0 5px 5px;
      outline: none;
      position: relative;
      cursor: pointer;
      width: auto;
      border-radius: 20px;
      align-items: center;
      background-color: #fff;
      color: #000;
      padding: 0 12px;
      font-size: 12px;
    }
    .container-opcoes {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      height: 100%;
      width: 100%;
      left: 0px;
      top: 0px;
      border-radius: 15px;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
    }
    .todas-opcoes {
      position: absolute;
      background-color: #48475c;
      padding: 10px;
      border: none;
      border-radius: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 280px;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
    }
    &.active {
      .container-opcoes,
      .todas-opcoes {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.container-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  input,
  select {
    display: block;
    width: 100%;
    border: 1px solid #28123e;
    font-size: 16px;
    padding: 5px 15px;
    height: 38px;
    border-radius: 50px;
    box-sizing: border-box;
  }
}

.btn {
  &.green {
    background-color: #32b32d;
    color: $white;
    border: none;
    svg {
      fill: $white;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.97;
    }
  }
}

.last-link {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  a {
    text-decoration: underline;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
  }
}

/* END POPUP */
