<div class="sob-popup"></div>
<div id="popup">
    <div class="popup-body">
        
    </div>
</div>
<div class="notification-container">
    <p></p>
    <!-- <button class="positive btn green">Sim</button> -->
    <!-- <button class="negative btn red">Não</button> -->
</div>
<script src="/js/index.js"></script>
<script src="/js/popup.js"></script>
<script src="/js/notification.js"></script>
</body>
</html>