<header>
  <div class="header">
    <div id="hamburger">
      <span class="material-icons-outlined icon-menu xs-hide">keyboard_arrow_right</span>
      <span class="hamburguer"></span>
    </div>
    <div class="logo md-hide">
      <%- include('../../public/img/logo.svg'); %>
      <span>Cash Control</span>
    </div>
  </div>
  <div class="sob-menu md-hide"></div>
  <div class="container-navigation">
    <nav>
      <ul>
        <li><a href="/">
          <img class="logo" src="img/logo.svg" alt="Logo Cash Control">
        </a></li>
        <li>
          <div class="container-buttons">
            <button class="btn-circle add">
              <span class="add"></span>
            </button>
            <a class="btn-circle popup green" href="#receitaCreate">
              <span class="arrow-up">
                <span class="material-icons-outlined">arrow_upward</span>
              </span>
            </a>
            <a class="btn-circle popup red" href="#despesaCreate">
              <span class="arrow-down">
                <span class="material-icons-outlined">arrow_downward</span>
              </span>
            </a>
            <a class="btn-circle popup blue" href="#transferenciaCreate">
              <span>
                <span class="material-icons-outlined">repeat</span>
              </span>
            </a>
          </div>
        </li>
        <li><a href="/dashboard"> 
          <span class="material-icons-outlined">assessment</span>
          <span class="text-link">DashBoard</span>
        </a></li>
        <li><a href="/carteiras">
          <span class="material-icons-outlined">account_balance</span>
          <span class="text-link">Carteiras</span>
        </a></li>
        <li><a href="/categorias">
          <span class="material-icons-outlined">flag</span>
          <span class="text-link">Categorias</span>
        </a></li>
        <li><a href="/metas">
          <span class="material-icons-outlined">insights</span>
          <span class="text-link">Metas</span>
        </a></li>
        <li><a href="/despesas">
          <span class="material-icons-outlined">arrow_downward</span>
          <span class="text-link">Despesas</span>
        </a></li>
        <li><a href="/receitas">
          <span class="material-icons-outlined">arrow_upward</span>
          <span class="text-link">Receitas</span>
        </a></li>
        <li><a href="/movimentos">
          <span class="material-icons-outlined">repeat</span>
          <span class="text-link">Transações</span>
        </a></li>
      </ul>
    </nav>
  </div>
</header>