<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cash Control - Seu sistema de controle financeiro ideal</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" href="/css/default.css"> -->
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header id="lp-header">
		<div class="container">
			<nav>
				<ul class="container-login"> <!--container-navigation-->
					<li><a class="btn blue popup" href="#login">Entrar</a></li>
					<!-- <li><a class="btn orange popup" href="#cadastro">Cadastre-se</a></li> -->
				</ul>
			</nav>			
		</div>		
	</header>
	
	<main>

		<div class="container-main">
			<img src="img/icons/main-carteira.svg" alt="">  
		</div>  

		<div class="container-text">

			<img class="logo-main" src="img/cashicon2.png" alt=""> <h2>Cash</h2>
			
			<h3>Seu Sistema para controle financeiro.</h3>
			<br>
		<div class="button-cadastro">
			<ul class="container-login">
			<li><a class="btn gray popup" href="#cadastro">Cadastre-se</a></li>
		</ul>
		</div>		
	</div>

		
</main>



<div class="container-info">
<div class="container-text">

	<h2> Quais vantagens do sistema Cash?</h2>
			
		<div class="text-li">
			<li> Organize suas despesas em um só lugar;</li>
			<li> Aqui você pode cadastrar, controlar suas despesas;</li>
			<li> Estabelecer metas;
			<li> Dashboard para tomadas de decisão...</li>
		</div>

	<br>
	
</div>  
<div class="container-main">
	<img src="img/icons/main-dash.svg" alt=""> 
</div> 
</div>

<div class="text-simple"><H3>Aqui você pode controlar:</H3></div><br>

<div class="container-info">
	
	<div class="cards">
		<img class="img-small" src="img/icons/analise.svg" alt="">
		<h5>Metas</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/calendario.svg" alt="">
		<h5>Calendário</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/calculadora.svg" alt="">
		<h5>Controle Financeiro</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/finance.svg" alt="">
		<h5>Dashboard</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/carteira.svg" alt="">
		<h5>Carteiras</h5>
		<br>
	</div>
	
</div><br>

<div class="text-simple"><H3>Conheça melhor nossos contribuidores:</H3></div><br>

<div class="container-contact">

	<div class="cards">
		<img class="img-small" src="img/icons/email.svg" alt="">
		<h5>Contato</h5>
		<br>
	</div>
	<div class="cards">
		<img class="img-small" src="img/icons/team.svg" alt="">
		<h5>Contribuidores</h5>
		<br>
	</div>
	<div class="container-team">
		<img src="img/equipe.svg" alt="">  
	</div> 
</div>

<div class="cash-button">
	<!-- <div><span>Cash Control&copy</span></div>	 -->
	<div class="cards">
		<!-- <img class="img-small" src="img/icons/analise.svg" alt=""> -->
		<h5>Serviços</h5>
		<br>
	</div>
	<div class="cards">
		<!-- <img class="img-small" src="img/icons/calendario.svg" alt=""> -->
		<h5>Contatos</h5>

		<div class="text-li">
		
			<li>Contibuidores</li>
			
		</div>
		
		
		<br>
	</div>
</div>

<!-- fazer footer especifico landing page -->
<!-- <%- include('./parts/foot'); %> -->