<%- include('../parts/head',{title:'CASH - Criando Carteira'}); %>
<main>
  <form method="POST" action="/carteiras/store">
    <span class="title"> Nova Carteira </span>
    <% if (typeof(erros) != "undefined") { %>
        <p style="color: red"> ERRO </p>
        <ul>
          <% erros.forEach((erro) => { %>
              <li><%= erro.msg %></li>
          <% }) %>
        </ul>
    <% } %>

    <div class="container-field">
      <input type="text" name="nome" id="nome" placeholder="Digite o nome da carteira">
    </div>

    <div class="container-field">
      <select name="tipo" id="tipo">
          <option selected disabled>Selecione</option>
          <option value="1">Conta Bancária</option>
          <option value="2">Carteira Pessoal</option>
          <option value="3">Cartão de Débito</option>
          <option value="4">Cartão de Crédito</option>
      </select>
    </div>

    <button class="btn green" type="submit">Salvar</button>
  </form>
</main>
<%- include('../parts/foot'); %>